DEEPSEEK_API_KEY=your_key
DEEPSEEK_BASE_URL=https://api.deepseek.com

# optional
OPENAI_API_KEY=your_key
OPENAI_BASE_URL=https://api.openai.com/v1

# optional
ANTHROPIC_API_KEY=your_key

LLM_PROVIDER=deepseek
MODEL_NAME=deepseek-chat

VERBOSE=false

MAX_AGENT_STEPS=20